<app-bike-form (bikeData)="displayBikeData($event)"> </app-bike-form>
<hr>
<p>
  bike-table works!
</p> <br>

<table border="2">
  <thead>
    <th> Bike Wheels </th>
    <th> Bike Seats </th>
    <th> Bike Brand </th>
    <th> Bike Model </th>
    <th> Bike Engine Type </th>
  </thead>
  <tbody>
    <tr *ngFor="let data of bikeArray">
      <td> {{ data.vehicleWheels }} </td>
      <td> {{ data.vehicleSeats }} </td>
      <td> {{ data.bikeBrand }} </td>
      <td> {{ data.bikeModel }} </td>
      <td> {{ data.bikeEngineType }} </td>
    </tr>
  </tbody>
</table>
