<hr>
<p>
  Car table works!
</p>

<!-- Car Type:  {{carType}} <br>
Car Brand: {{carBrand}} <br>
Car Model: {{carModel}} -->

<table border="1">
  <thead>
      <th> Car Type </th>
      <th> Car Brand </th> 
      <th> Car Model </th>
      <th> Car Engine Type </th>
  </thead>
  <tbody>
    <tr *ngFor="let data of carArray" >
      <!-- <td> {{ data | json }} </td> -->
      <td> {{ data.carType }} </td> 
      <td> {{ data.carBrand }} </td> 
      <td> {{ data.carModel }} </td> 
      <td> {{ data.carEngineType }} </td>
    </tr>
  </tbody>
</table>
