<hr> <hr>
<p>
  bike-form works!
</p>
<select name="bikeBrand" [(ngModel)]="bikeObj.bikeBrand">
  <option *ngFor="let data of bikeBrandArray">{{data}}</option>
</select> <br>
<input type="text" name="bikeModel" placeholder="Enter Bike Model" [(ngModel)]="bikeObj.bikeModel" /> <br>
<input type="number" name="bikeEngineType" placeholder="Enter Bike Engine Type" [(ngModel)]="bikeObj.bikeEngineType" /> <br>
<input type="button" name="submit" [value]="submit" (click)="bikeDetails()" /> <br>
<!-- {{bikeBrand}} <br>
{{bikeModel}} <br>
{{bikeEngineType}} -->