<p>
  {{ formTitle }} Car form works!
</p>

<select name="carType" [(ngModel)]="carType">
  <option value="Hatchback">Hatchback</option>
  <option value="Sedan">Sedan</option>
  <option value="Crossover">Crossover</option>
</select> <br>

<input type="text" name="carBrand" placeholder="Enter Car Brand" [(ngModel)]="carBrand" /> <br>
<input type="text" name="carModel" placeholder="Enter Car Model" [(ngModel)]="carModel" /> <br>
<input type="number" name="carEngineType" placeholder="Enter Car Engine Type" [(ngModel)]="carEngineType" /> <br>
<input type="button" [value] = "submit" (click) = "carDetails()" /> <br>

{{carType}} <br>
{{carBrand}} <br>
{{carModel}} <br>
{{carEngineType}} <br>

<!-- <app-table [carArray]="carArray" [carType]="carType" [carModel]="carModel" [carBrand]="carBrand"></app-table> -->
<app-table [carArray]="carArray"></app-table>