/* .mainDiv{
    width: 1280px;
    height: 200px;
    border-style: groove;
}

.formDiv{
    margin: 5px;
    margin-right: 50px;
    border-style: dashed;
    width: 500px;
    float: left;
}

.tableDiv{
    margin-top: 10px;
    margin-right: 35px;
    border-style: dashed;
    width: 500px;
    float: right;
} */