  <!-- <p> 
    {{ formTitle }} Car form works!
  </p> -->
<hr> 
<div class="mainDiv">
  <p> {{ formTitle }} Car form works! </p>
  <div class="formDiv">
    <input type="number" name="vehicleWheels" placeholder="Enter No of Wheels" [(ngModel)]="carObj.vehicleWheels"> <br>
    <input type="number" name="vehicleSeats" placeholder="Enter No of Seats" [(ngModel)]="carObj.vehicleSeats"> <br>
    Select Car Type: <select name="carType" [(ngModel)]="carObj.carType">
      <!-- <option value="Hatchback">Hatchback</option>
      <option value="Sedan">Sedan</option>
      <option value="Crossover">Crossover</option> -->
      <option *ngFor="let data of carTypeArray">{{data}}</option>
    </select> <br>

    <input type="text" name="carBrand" placeholder="Enter Car Brand" [(ngModel)]="carObj.carBrand" /> <br>
    <input type="text" name="carModel" placeholder="Enter Car Model" [(ngModel)]="carObj.carModel" /> <br>
    <input type="number" name="carEngineType" placeholder="Enter Car Engine Type" [(ngModel)]="carObj.carEngineType" /> <br>
    
    <input type="button" [value] = "submit" (click) = "carDetails()" /> <br>
  </div>
  <!-- <app-table [carArray]="carArray" [carType]="carType" [carModel]="carModel" [carBrand]="carBrand"></app-table> -->
  <div class="tableDiv">
    <app-table [carInstance]="carInstance"></app-table>
  </div>
</div>